<div>
    <div class="rooo"></div>
    <div>
        <img id="eend" src= "<%= @dish_image %>" >
    </div>
    <div class="rooo"></div>
    <p id="last"><%=@s_dish %>"</p>
    <div class="rooo"></div>
</div>